# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store

# IntelliJ IDE
.idea

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Build outputs
bin
cre
cre-admin
dist
*.wasm
*.wasm.br
*.wasm.br.b64

# env files
*.env

# solidity build artifacts
out/
cache/

# typescript
node_modules/
bun.lock
tmp.js

.*
cre_docs.*